# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  skip:  # a list of hook ids to skip only in pre-commit.ci
    # These hooks refer to tools that are run separately in CI.
    - ggshield
    - ruff-check
    - ruff-format
    - renovate-config-validator
  autoupdate_commit_msg: "chore(pre-commit): pre-commit autoupdate"
  autofix_commit_msg: "chore(pre-commit): auto fixes from pre-commit hooks"

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # Use the sha / tag you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: no-commit-to-branch
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.8
    hooks:
      - id: uv-lock

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.4
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/gitguardian/ggshield
    rev: v1.44.1
    hooks:
      - id: ggshield
        language_version: python3
        stages: [pre-commit]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.5.0
    hooks:
      - id: renovate-config-validator
        args: [--strict]
